{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block menu %}
    {% if user.is_authenticated %}
        {% if perms.webapp.change_product %}
            <a href="{% url 'product_update' product.pk%}" class="btn btn-success">Update product</a>
            <a href="{% url 'product_delete' product.pk%}" class="btn btn-danger">Delete product</a>
            <a href="{% url 'add_review' pk=product.pk%}" class="btn btn-primary">Add review</a>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Product</h1>
    <img src="{{ product.pic }}" alt="{{ product.name }}">
    <p>Name: {{ product.name }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Category: {{ product.category}}</p>

    </div>

    <h3>Reviews:</h3>
        <div class="review-list">
            {% for review in product.reviews.all %}
            <hr>
                <div class="review">
                    <p>Автор: {{ review.author }}</p>
                    <p>Отзыв: {{ review.review }}</p>
                    <p>Оценка: {{ review.rating }}</p>
                    <p>
                        <a href="{% url 'review_detail' review.pk %}">Подробнее...</a>
                    </p>
                </div>
            <hr>
            {% empty %}
                <p>No reviews yet.</p>
            {% endfor %}
        </div>
{% endblock %}
